<!DOCTYPE html>
<html>
	<head>
	  <title><%= TaskApplication %></title>
	  <meta name="viewport" content="witdh=device-width, initial-scale=1.0">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "shared/header"%>	
		<div class= "container">
			<%= image_tag("logotiempos.png", :alt => "Tiempos") %>
			<br><br>
			<div>
				<% if !flash.empty? %>
				<div class="alert alert-info">	
					<a class="notice"><%= notice %></a>
					<a class="alert"><%= alert %></a>
				</div>
				<% end %>
				<%= yield %>
			</div>
		</div>
	</body>
</html>
